@use "../abstracts/mixins" as m;

.active-filter {
	position: relative;

	padding: 0.5rem 3rem 0.5rem 1rem;
	border-radius: 0.5rem;

	background-color: var(--clr-primary);

	&__delete {
		position: absolute;
		inset: 50% 1rem auto auto;
		translate: 0 -50%;
		@include m.flexbox(row, 0, nowrap, center, center);

		scale: 1.2;
		border: none;
		background-color: transparent;

		transition: all 0.2s ease-in-out;

		&:hover,
		&:focus {
			scale: 1.5;
		}
	}
}
