@use "../abstracts/mixins" as m;
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500&display=swap");

:root {
	--clr-texte: #1b1b1b;
	--clr-primary: #ffd15b;
	--clr-background: #7a7a7a;
	--clr-white: #ededed;

	--fs-200: clamp(0.63rem, calc(0.84rem + -0.23vw), 0.78rem);
	--fs-300: clamp(0.88rem, calc(0.96rem + -0.08vw), 0.94rem);
	--fs-400: clamp(1.13rem, calc(1.08rem + 0.19vw), 1.25rem);
	--fs-500: clamp(1.35rem, calc(1.2rem + 0.63vw), 1.77rem);
	--fs-600: clamp(1.62rem, calc(1.31rem + 1.32vw), 2.5rem);
	--fs-700: clamp(1.94rem, calc(1.38rem + 2.39vw), 3.53rem);
	--fs-800: clamp(2.33rem, calc(1.39rem + 4vw), 5rem);

	--ff-accent: "Anton", sans-serif;
	--ff-base: "Manrope", sans-serif;
}

body {
	width: min(1440px, 100%);
	margin-inline: auto;
}
